/* Header Section */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
} 

header h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header nav ul {
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 20px;
    font-size: 20px;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    color: black;
}

/* footer section */
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
    padding-left: 30px;
}

footer div address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

footer div address a {
    padding: 20px;
    font-size: 20px;
    margin-right: 30px;
    color: whitesmoke;
    text-decoration: none;
}
.info {
    color: whitesmoke;
    font-size: 20px;
}

.info address {
    font-style: normal;
}


/* Hero Section */
.hero {
    background-image: url("./images/Light-Wood-Background-Texture-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero p {
    padding-top: 50px;
    font-size: 50px;

}


/* About Me */
.intro {
    background-color: white;
    padding-left: 30px;
}

.intro h2 {
    color:black;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* My Work section */
.work {
    background-color: white;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.work h2 {
    color:black;
    font-weight: bold;
    font-size: 50px;
}