
/* Header Section */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    align-items: center;
} 

header h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header nav ul {
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 20px;
    font-size: 20px;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    color: black;
}

/* footer section */
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

footer h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 70px;
    padding-left: 70px;
    border-right: 3px solid white;
    height: 150px;
    padding-right: 50px;
}

footer div address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;
    align-items: center;
}

footer div address a {
    padding: 20px;
    margin-right: 30px;
    color: whitesmoke;
    text-decoration: none;
}
.info {
    color: whitesmoke;
    font-size: 20px;
}

.info address {
    font-style: normal;
}


/* Hero Section */
.hero {
    background-image: url("./images/Light-Wood-Background-Texture-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.hero p {
    padding-top: 50px;
    font-size: 60px;
}


/* About Me */
.intro {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.intro h2 {
    color: black;
    font-weight: bold;
    font-size: 100px;
    padding-left: 70px;
    border-right: 3px solid black;
    height: 150px;
    padding-right: 50px;
}

.intro p {
    text-align: center;
}


/* My Work section */
.work {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.work h2 {
    color: black;
    font-weight: bold;
    font-size: 100px;
    padding-left: 70px;
    border-right: 3px solid black;
    height: 150px;
    padding-right: 50px;
}

.square1 {
    height: 200px;
    width: 500px;
    background-color: grey;
    border-right: none;
}

.titles h2 {
    font-size: 20px;
}

.titles p {
    font-size: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
}
